body {
    background-color: #222222;
    font-family: 'Source Sans 3', sans-serif;
    color: #e3e1db;
}
a {
    color: #a6ecff;
}
hr {
    position: relative;
    width: 25%;
    bottom: 35px;
}
h6 {
    font-size: 10px;
}
#kafka {
    height: 200px;
}
#atagoSip {
    height: 30px;
    padding-top: 5px;
}
.announcement {
    position: relative;
    bottom: 45px;
}
.message {
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
}
.links-and-stuff {
    font-size: 18px;
}