body {
    background-color: #222222;
    font-family: 'Source Sans 3', sans-serif;
}
h1 {
    color: #e3e1db;
}
a {
    color: #a6ecff;
}
#kafka {
    height: 200px;
}
#atagoSip {
    height: 28px;
    padding-top: 6px;
}
.message {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}